<app-header></app-header>
<form action = "" [formGroup]="formularioPersona">
  <div class="flex">
      <div class="relative flex-grow">
        <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Numero de documento:" formControlName = "numDocumento">
      </div>
    </div>
    <div class="flex">
      <div class="relative flex-grow">
        <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Nombre:" formControlName = "nombre">
      </div>
    </div>
    <div class="flex">
      <div class="relative flex-grow">
        <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Apellido:" formControlName = "apellido">
      </div>
    </div>
    <div class="flex">
      <div class="relative flex-grow">
        <input type="email" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Correo Electronico:" formControlName = "correoElectronico">
        <div *ngIf="formularioPersona.get('correoElectronico')?.errors?.['email']">Por favor, intente digitar una direccion de correo valida al terminar.</div>
      </div>
    </div>
    <div class="flex justify-end"> 
      <button class= "flex bg-orange-400 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-full self-end" (click)="enviarDatos()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
        </svg>
        <span class="ml-2">Enviar</span>
      </button>     
    </div>

</form>
<table class="min-w-50 mx-auto">
<thead>
  <tr>
    <th class="px-4 py-2">Id</th>
    <th class="px-4 py-2">Nombre</th>
    <th class="px-4 py-2">Apellido</th>
    <th class="px-4 py-2">Correo Electronico</th>
    <th class="px-4 py-2">Editar</th>
    <th class="px-4 py-2">Eliminar</th>
    
  </tr>
</thead>
<tbody>
  <tr *ngFor="let person of personas " class=" justify-center border-b border-gray-200">
    <td class="px-4 py-2 ">{{ person.numDocumento}}</td>
    <td class="px-4 py-2">{{ person.nombre}}</td>
    <td class="px-4 py-2">{{ person.apellido}}</td>
    <td class="px-4 py-2">{{ person.correoElectronico}}</td>
    <td class="text-center">
      <button class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded-full" (click)="activador(person)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
        </svg>  
      </button>
    </td>
    <td class="text-center">
      <button class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded-full" (click)="deletePersona(person.numDocumento!)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg> 
      </button>
    </td>
  </tr>
</tbody>
</table>

<div *ngIf="display" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-lg font-semibold mb-4">Editar datos</h2>
    <form action = "" [formGroup]="formularioPersona">
        <div class="flex">
          <div class="relative flex-grow">
            <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Nombre:" formControlName = "nombre">
          </div>
        </div>
        <div class="flex">
          <div class="relative flex-grow">
            <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Apellido:" formControlName = "apellido">
          </div>
        </div>
        <div class="flex">
          <div class="relative flex-grow">
            <input type="email" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Correo Electronico:" formControlName = "correoElectronico">
            <div *ngIf="formularioPersona.get('correoElectronico')?.errors?.['email']">Por favor, intente digitar una direccion de correo valida al terminar.</div>
          </div>
        </div>
        <div class="flex justify-end"> 
          <button class= "flex bg-orange-400 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-full self-end" (click)="actualizarPersona()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
            </svg>
            <span class="ml-2">Actualizar</span>
          </button>     
        </div>
    </form>
  </div>
</div>







  